.header {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 142, 185);
  background-image: url(/images/brick-wall-dark.png);
  margin-top: 100px;
}

.icon {
  margin-top: 2vh;
}

h2 {
  font-weight: 300;
}

h2 b {
  font-weight: 600;
  color: orange;
}
