nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 34px;
}

span.write {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

div.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

i.arrow {
  color: red;
}
