nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}

nav p {
  margin-bottom: 2px;
}

div.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

i.arrow {
  color: rgb(241, 167, 69);
}
