section.new-tweet {
  padding: 0 1vw;
}

form {
  display: flex;
  flex-direction: column;
}

.submit-tweet {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.compose-tweet {
  display: none;
}

label {
  font-weight: 800;
}

#tweet-text {
  font-size: 25px;
  font-weight: 600;
  color: #020944;
  padding-top: 10px;
  border: 0;
  outline: 0;
  height: auto;
  border-bottom: 4px solid #020944;
  margin-bottom: 10px;
  resize: none;
  background-color: transparent;
}

button {
  background-color: #163b77;
  color: orange;
  border: none;
  padding: 5px 15px;
  outline: none;
}

button:hover {
  background-color: white;
  color: orange;
  padding: 5px 15px;
}

.add-color {
  color: red;
}

#error {
  background-color: #627b8d;
  display: none;
  padding: 10px;
}

#empty {
  background-color: #627b8d;
  display: none;
  padding: 10px;
}

.footer-arrow {
  display: flex;
  justify-content: center;
}

.footer-arrow {
  color: orange;
}

.footer {
  display: flex;
  justify-content: center;
}
