section.new-tweet {
  padding: 0 1vw;
}

form {
  display: flex;
  flex-direction: column;
}

.submit-tweet {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.compose-tweet {
  display: none;
}

label {
  font-weight: 700;
}

#tweet-text {
  padding-top: 10px;
  border: 0;
  outline: 0;
  height: auto;
  border-bottom: 4px solid #0c0244;
  margin-bottom: 5px;
  resize: none;
  background-color: transparent;
}

button {
  background-color: #71a2a3;
  color: white;
  border: none;
  padding: 5px 15px;
  outline: none;
}

button:hover {
  background-color: white;
  color: #545149;
  padding: 5px 15px;
}

.add-color {
  color: red;
}

#error {
  background-color: #798584;
  display: none;
  padding: 10px;
}

#empty {
  background-color: #798584;
  display: none;
  padding: 10px;
}
